<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cards/carta.css' %}">
    <title>Presentacion</title>
</head>
<body>

    <div class="container">
       <div class="card">
        <figure>

        </figure>
        <div class="contenido">
            <h3>
                G.O.S.F.P.S
            </h3>
            <p>
                PIERI ME DEBE UNA MONSTERS AL IGUAL QUE YANET,EMILIANO,????,ANGEL,GENES,MIGUEL.
            </p>
            <a href="#">LEER MAS </a>

        </div>

       </div>


    </div>
    
</body>
</html>