{% extends 'Main.html '%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register </title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
{% block content %}
<body>
  

        <main class="container my-5">

            <div class="contenedor__todo" style="margin: 100px;">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form action="{% url 'inicio' %}" method="POST" class="formulario__login">
                        {{error}}
                        {% csrf_token %}
                        <h2>Iniciar Sesión</h2>
                        <input type="email" name="email" id="email" placeholder="Correo Electronico" >
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <button>Entrar</button>
                    </form>

                    <!--Register-->
                    <form action="{% url 'registro' %}" method="POST" class="formulario__register">
                        {{error}}
                        {% csrf_token %}
                        <h2>Regístrarse</h2>
                        <input type="text"  name="nombre" id="nombre" placeholder="Nombre completo">
                        <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                        <input type=" text email" name="email" id="email" placeholder="Correo Electronico">
                        <input type="password" name="password1" id="password1" placeholder="Contraseña">
                        <input type="password" name="password2" id="password2" placeholder="Confirm Password">
                        <button>Regístrarse</button>
                    </form>
                </div>
            </div>

        </main>
</body>
{% endblock %}
</html>